[Unit]
Description=TapTune service
Wants=network-online.target raspotify.service
After=network-online.target raspotify.service bluealsa.service taptune-bluetooth.service

[Service]
Type=simple
WorkingDirectory=/home/pi/TapTune
ExecStart=/home/pi/TapTune/.venv/bin/python -m app.main
Restart=always
RestartSec=5
EnvironmentFile=/home/pi/TapTune/.env
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
